body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right bottom, #f7f8fa, #e0e6e8);
    min-height: 100hv;
    margin: 20px;
}

h1 {
    color: blueviolet;
    text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.1);
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px, 0;
    border: 3px solid #006bff;
    background-color: #006bff;
}

.cell {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}